{% extends 'base.html' %}

{% block content %}
<div class="py-5 bg-custom hero-header mb-5">
    <div class="container text-center my-5 pt-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{{meal_detail.name}}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="{% url 'foody:meal_list' %}">Back to Menu</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="py-5 meal-detail-col">
        <img class="img-fluid rounded-img-detail meal-img" src="{{meal_detail.image.url}}" alt="">
        <div class="details-right">
            <h5><i class="fas fa-shopping-basket icon-detail"></i> Ingredients: {{meal_detail.description}}</h5>
            <br>
            <h5><i class="fas fa-utensils icon-detail"></i> Serves: {{meal_detail.people}}</h5>
            <br>
            <h5><i class="fas fa-clock icon-detail"></i> Preparation time: {{meal_detail.preparation_time}} minutes</h5>
            <br>
            <h5><i class="fas fa-coins icon-detail"></i> Price: {{meal_detail.price}}€</h5>
        </div>
    </div>
</div>

{% endblock content %}